version: 2

updates:
  - package-ecosystem: npm
    directory: /apps/api
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - security
    groups:
      nestjs:
        patterns:
          - "@nestjs/*"
      typeorm:
        patterns:
          - "typeorm"
          - "pg"

  - package-ecosystem: npm
    directory: /apps/web
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - security
    groups:
      nextjs:
        patterns:
          - "next"
          - "react"
          - "react-dom"

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 5
    labels:
      - dependencies

  - package-ecosystem: docker
    directory: /apps/api
    schedule:
      interval: weekly
    labels:
      - dependencies
      - docker

  - package-ecosystem: docker
    directory: /apps/web
    schedule:
      interval: weekly
    labels:
      - dependencies
      - docker

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - dependencies
      - ci
