```yaml
openapi: 3.0.0
info:
  title: Torque 360 API
  description: REST API for the Torque 360 Enterprise Automotive Management Platform
  version: 1.0.0
servers:
  - url: https://api.torque360.com/v1
    description: Production server
  - url: https://api-staging.torque360.com/v1
    description: Staging server
tags:
  - name: Authentication
    description: Endpoints for user authentication
  - name: Vehicles
    description: Endpoints for managing vehicles
  - name: Inventory
    description: Endpoints for managing inventory and parts
  - name: Work Orders
    description: Endpoints for managing work orders and services
  - name: Customers
    description: Endpoints for managing customers
  - name: Invoicing
    description: Endpoints for managing invoices and payments
  - name: Reporting
    description: Endpoints for generating reports and analytics
  - name: Users
    description: Endpoints for managing users and roles
  - name: Webhooks
    description: Endpoints for managing webhooks
  - name: Rate Limiting
    description: Rate limiting and versioning information

components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the user
        name:
          type: string
          description: User's name
        email:
          type: string
          format: email
          description: User's email
        role:
          type: string
          description: User's role
        permissions:
          type: array
          items:
            type: string
          description: User's permissions
    Vehicle:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the vehicle
        vin:
          type: string
          description: Vehicle Identification Number
        make:
          type: string
          description: Vehicle make
        model:
          type: string
          description: Vehicle model
        year:
          type: integer
          description: Vehicle year
        color:
          type: string
          description: Vehicle color
        status:
          type: string
          description: Vehicle status (e.g., stock, sold, in-service)
        price:
          type: number
          description: Vehicle price
        cost:
          type: number
          description: Vehicle cost
        days_in_inventory:
          type: integer
          description: Number of days the vehicle has been in inventory
        location:
          type: string
          description: Vehicle location
        photos:
          type: array
          items:
            type: string
            format: url
          description: URLs of vehicle photos
    Part:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the part
        part_number:
          type: string
          description: Part number
        description:
          type: string
          description: Part description
        make:
          type: string
          description: Part make
        category:
          type: string
          description: Part category
        stock:
          type: integer
          description: Current stock quantity
        min_stock:
          type: integer
          description: Minimum stock quantity
        max_stock:
          type: integer
          description: Maximum stock quantity
        cost:
          type: number
          description: Part cost
        retail_price:
          type: number
          description: Part retail price
        wholesale_price:
          type: number
          description: Part wholesale price
        location:
          type: string
          description: Part location in the warehouse
        supplier:
          type: string
          description: Preferred supplier
    WorkOrder:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the work order
        vehicle_id:
          type: string
          description: Vehicle ID associated with the work order
        customer_id:
          type: string
          description: Customer ID associated with the work order
        type:
          type: string
          description: Type of work order (e.g., maintenance, repair, warranty)
        technician:
          type: string
          description: Technician assigned to the work order
        bay:
          type: string
          description: Bay where the work is performed
        estimated_hours:
          type: number
          description: Estimated hours for the work
        actual_hours:
          type: number
          description: Actual hours spent on the work
        parts_used:
          type: array
          items:
            $ref: '#/components/schemas/Part'
          description: Parts used in the work order
        labor:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
                description: Description of the labor task
              hours:
                type: number
                description: Hours spent on the task
              rate:
                type: number
                description: Rate per hour
          description: Labor tasks performed
        status:
          type: string
          description: Status of the work order (e.g., pending, in-progress, completed)
        findings:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
                description: Description of the finding
              photo:
                type: string
                format: url
                description: URL of the finding photo
          description: Additional findings during the work
        invoice_id:
          type: string
          description: Invoice ID associated with the work order
        satisfaction:
          type: number
          description: Customer satisfaction rating
    Customer:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the customer
        name:
          type: string
          description: Customer name
        email:
          type: string
          format: email
          description: Customer email
        phone:
          type: string
          description: Customer phone number
        type:
          type: string
          description: Customer type (e.g., individual, business)
        segment:
          type: string
          description: Customer segment
        vehicles:
          type: array
          items:
            $ref: '#/components/schemas/Vehicle'
          description: Vehicles owned by the customer
        services:
          type: array
          items:
            $ref: '#/components/schemas/WorkOrder'
          description: Services performed for the customer
        score_ai:
          type: number
          description: AI-generated score for the customer
        lifetime_value:
          type: number
          description: Lifetime value of the customer
        churn_risk:
          type: number
          description: Churn risk of the customer
        preferences:
          type: object
          description: Customer preferences
        interaction_history:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date-time
                description: Date and time of the interaction
              type:
                type: string
                description: Type of interaction (e.g., call, email, visit)
              notes:
                type: string
                description: Notes from the interaction
          description: Interaction history with the customer
    Invoice:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the invoice
        type:
          type: string
          description: Type of invoice (e.g., invoice, receipt, credit note)
        number:
          type: string
          description: Invoice number
        customer_id:
          type: string
          description: Customer ID associated with the invoice
        items:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
                description: Description of the item
              quantity:
                type: number
                description: Quantity of the item
              price:
                type: number
                description: Price of the item
              total:
                type: number
                description: Total cost of the item
          description: Items included in the invoice
        total:
          type: number
          description: Total amount of the invoice
        tax:
          type: number
          description: Tax amount
        status:
          type: string
          description: Status of the invoice (e.g., pending, paid, overdue)
        payment_status:
          type: string
          description: Payment status (e.g., pending, paid, overdue)
        dte_xml:
          type: string
          format: binary
          description: DTE XML file
        pdf_url:
          type: string
          format: url
          description: URL of the PDF invoice
    Report:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the report
        type:
          type: string
          description: Type of report (e.g., sales, inventory, financial)
        period:
          type: string
          description: Period covered by the report
        data:
          type: object
          description: Data included in the report
        generated_at:
          type: string
          format: date-time
          description: Date and time the report was generated
    Webhook:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the webhook
        event:
          type: string
          description: Event that triggers the webhook
        url:
          type: string
          format: url
          description: URL to which the webhook will send data
        headers:
          type: object
          description: Headers to include in the webhook request
        active:
          type: boolean
          description: Whether the webhook is active
    Error:
      type: object
      properties:
        code:
          type: integer
          description: Error code
        message:
          type: string
          description: Error message
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Authenticate a user and return a JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                  description: User's email
                password:
                  type: string
                  description: User's password
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT token
                  refresh_token:
                    type: string
                    description: Refresh token
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh a JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  description: Refresh token
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: New JWT token
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /vehicles:
    get:
      tags:
        - Vehicles
      summary: Get a list of vehicles
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of vehicles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vehicle'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Vehicles
      summary: Create a new vehicle
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vehicle'
      responses:
        '201':
          description: Vehicle created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /vehicles/{id}:
    get:
      tags:
        - Vehicles
      summary: Get a specific vehicle by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Vehicle ID
      responses:
        '200':
          description: Vehicle details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Vehicle not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Vehicles
      summary: Update a specific vehicle by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Vehicle ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Vehicle'
      responses:
        '200':
          description: Vehicle updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Vehicle not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Vehicles
      summary: Delete a specific vehicle by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Vehicle ID
      responses:
        '204':
          description: Vehicle deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Vehicle not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /inventory:
    get:
      tags:
        - Inventory
      summary: Get a list of parts in inventory
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of parts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Part'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Inventory
      summary: Add a new part to inventory
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Part'
      responses:
        '201':
          description: Part added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Part'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /inventory/{id}:
    get:
      tags:
        - Inventory
      summary: Get a specific part by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Part ID
      responses:
        '200':
          description: Part details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Part'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Part not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Inventory
      summary: Update a specific part by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Part ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Part'
      responses:
        '200':
          description: Part updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Part'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Part not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Inventory
      summary: Delete a specific part by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Part ID
      responses:
        '204':
          description: Part deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Part not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workorders:
    get:
      tags:
        - Work Orders
      summary: Get a list of work orders
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of work orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkOrder'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Work Orders
      summary: Create a new work order
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkOrder'
      responses:
        '201':
          description: Work order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /workorders/{id}:
    get:
      tags:
        - Work Orders
      summary: Get a specific work order by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Work order ID
      responses:
        '200':
          description: Work order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Work order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Work Orders
      summary: Update a specific work order by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Work order ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkOrder'
      responses:
        '200':
          description: Work order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Work order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Work Orders
      summary: Delete a specific work order by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Work order ID
      responses:
        '204':
          description: Work order deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Work order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customers:
    get:
      tags:
        - Customers
      summary: Get a list of customers
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Customers
      summary: Create a new customer
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customers/{id}:
    get:
      tags:
        - Customers
      summary: Get a specific customer by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Customer ID
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Customers
      summary: Update a specific customer by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Customer ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '200':
          description: Customer updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Customers
      summary: Delete a specific customer by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Customer ID
      responses:
        '204':
          description: Customer deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invoices:
    get:
      tags:
        - Invoicing
      summary: Get a list of invoices
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of invoices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Invoicing
      summary: Create a new invoice
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '201':
          description: Invoice created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /invoices/{id}:
    get:
      tags:
        - Invoicing
      summary: Get a specific invoice by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Invoice ID
      responses:
        '200':
          description: Invoice details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Invoicing
      summary: Update a specific invoice by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Invoice ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          description: Invoice updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Invoicing
      summary: Delete a specific invoice by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Invoice ID
      responses:
        '204':
          description: Invoice deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Invoice not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reports:
    get:
      tags:
        - Reporting
      summary: Get a list of reports
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of reports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Report'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Reporting
      summary: Generate a new report
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: Type of report (e.g., sales, inventory, financial)
                period:
                  type: string
                  description: Period covered by the report
      responses:
        '201':
          description: Report generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reports/{id}:
    get:
      tags:
        - Reporting
      summary: Get a specific report by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: Report ID
      responses:
        '200':
          description: Report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Report not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users:
    get:
      tags:
        - Users
      summary: Get a list of users
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Users
      summary: Create a new user
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /users/{id}:
    get:
      tags:
        - Users
      summary: Get a specific user by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: User ID
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Users
      summary: Update a specific user by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: User ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Users
      summary: Delete a specific user by ID
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            description: User ID
      responses:
        '204':
          description: User deleted
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: User not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks:
    get:
      tags:
        - Webhooks
      summary: Get a list of webhooks
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Webhooks
      summary: Create a new webhook
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Webhook'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref